.item-title{
  text-align: center;
}
#item-container {
  padding-top: 5vh;
  display: none;
  flex-wrap: wrap;
  column-gap: 5vw;
  margin: auto;
  justify-content: center;
  padding-bottom: 8vh;
}
.image-container {
  width: 20vw;
  min-width: 280px;
}
.image {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}
.rating-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.item-info{
  grid-area: info;
  row-gap: 1vh;
  display: grid;
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
}

.add-button {
  height: 10vh;
  max-height: 50px;
}