.title {
  text-align: center;
}

.shopping-cart-container {
  display: grid;
  row-gap: 3vh;
  width: 60vw;
  min-width: 300px;
  margin: auto;
  padding-bottom: 10vh;
}


.shopping-cart-item {
  display: grid;
  padding-top: 3vh;
  border-top: 1px solid;
  color: black;
  display: grid;
  grid-template-areas: 
  "delete image title quantityContainer subtotal";
}

.delete {
  grid-area: delete;
  margin: auto;
  width: 30px;
  height: 30px;
  border: none;
  background: white;
  color: gray;
  font-size: 25px;
}
.delete:hover {
  color: red;
}

.shopping-cart-image-container {
  grid-area: image;
  height: 20vh;
  width: 10vw;
}
.shopping-cart-image {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.shopping-cart-item-title {
  grid-area: title;
  margin: auto;
  width: 30vw;
}

.quantity-container {
  grid-area: quantityContainer;
  margin: auto;
  display: grid;
  grid-template-areas: 
  "plus quantity minus";

}
.quantity {
  grid-area: quantity;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.add {
  grid-area: plus;
  width: 30px;
  height: 30px;
  border: none;
  color: gray;
  background-color: white;
  font-size: 25px;
}
.add:hover{
  color: green;
}

.subtract {
  grid-area: minus;
  width: 30px;
  height: 30px;
  border: none;
  color: gray;
  background-color: white;
  font-size: 25px;
}
.subtract:hover{
  color: red;
}

.subtotal {
  width: 5vw;
  grid-area: subtotal;
  margin: auto;
}

.multiply-sign {
  margin: auto;
  width: 10px;
  grid-area: sign;
}

#purchase-complete-container {
  display: none;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(141, 138, 138);
  opacity: 0.8;
  z-index: 1;
}

.purchase-complete-notification {
  text-align: center;
  margin: auto;
  padding: 10vh;
  width: 50vw;
  font-size: 25px;
  background: white;
}

#total-container {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgb(123, 139, 141);
  opacity: 0.9;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 30px;
}
#total-container:hover {
  opacity: 1;
}

.total-text{
  margin: auto;
}