body{
  margin: 0;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background: rgb(123, 139, 141);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Title {
  text-align: center;
}

.activeLink {
  color: red;
}

.items {
  display: flex;
  flex-wrap: wrap;
}
.item {
  display: grid;
  grid-template-columns: 1fr;
  width: 25%;
}
.product-image {
  width: 25%;
  height: auto;
  margin: auto;
}