body{
  margin: 0;

}

/* NavBar */
.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: rgb(123, 139, 141);
  color: white;
}
.nav-links {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


/* Page Headers */
.Title {
  text-align: center;
}

/* Item Page */
.item-title{
  text-align: center;
}
#item-container {
  padding-top: 5vh;
  display: none;
  flex-wrap: wrap;
  column-gap: 5vw;
  margin: auto;
  justify-content: center;
}
.item-image {
  grid-area: image;
  width: auto;
  height: 60vh;
  min-height: 300px;
}
.item-info{
  grid-area: info;
  display: grid;
  width: 40vw;
  min-width: 300px;
  max-width: 500px;
  grid-template-areas: 
  'name'
  'info'
  'price'
  'add';
}
