.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: #5E6977;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}
.nav-links {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
