/* Page Headers */
.Title {
  text-align: center;
}

.shopping-cart-container {
  display: grid;
  row-gap: 3vh;
  width: 60vw;
  min-width: 450px;
  margin: auto;
  padding-bottom: 10vh;

}


.shopping-cart-item {
  display: grid;
  grid-template-rows: 2;
  border-top: 1px solid;
  color: gray;

  display: grid;
  grid-template-areas: 
  "delete image title quantityContainer subtotal";
}
.shopping-cart-item:hover{
  color: black;
}

.delete {
  grid-area: delete;
  margin: auto;
  width: 30px;
  height: 30px;
  border: none;
  background: white;
  color: gray;
  font-size: 25px;
}
.delete:hover {
  color: red;
}

.shopping-cart-image-container {
  grid-area: image;
  height: 20vh;
  width: 10vw;
}
.shopping-cart-image {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

.shopping-cart-item-title {
  grid-area: title;
  margin: auto;
  width: 30vw;
}

.quantity-container {
  grid-area: quantityContainer;

  margin: auto;
  display: grid;
  grid-template-areas: 
  "plus quantity minus";

}
.quantity {
  grid-area: quantity;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.add {
  grid-area: plus;
  width: 30px;
  height: 30px;
  border: none;
  color: gray;
  background-color: white;
  font-size: 25px;
}
.add:hover{
  color: green;
}

.subtract {
  grid-area: minus;
  width: 30px;
  height: 30px;
  border: none;
  color: gray;
  background-color: white;
  font-size: 25px;
}
.subtract:hover{
  color: red;
}

.subtotal {
  width: 5vw;
  grid-area: subtotal;
  margin: auto;
}

.price {
  margin: auto;
  grid-area: price;
}

.multiply-sign {
  margin: auto;
  width: 10px;
  grid-area: sign;
}

#total {
  width: 100%;
  height: 10vh;
  background: rgb(123, 139, 141);
  opacity: 0.9;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 30px;
}
#total:hover {
  opacity: 1;
}